@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: 'Varela Round', Calibri, 'Segoe UI', sans-serif !important;
}

body {
    font-family: 'Varela Round', Calibri, 'Segoe UI', sans-serif !important;
}
