# Database
DATABASE_URL="postgresql://YOUR_USER_NAME:YOUR_PASSWORD@127.0.0.1:5432/YOUR_DATABASE_NAME?schema=public"

# Individual PG connection vars (optional)
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=YOUR_USER_NAME
PGPASSWORD=YOUR_PASSWORD
PGDATABASE= YOUR_DATABASE_NAME

# JWT secrets (change to strong values in production)
JWT_SECRET="votre-secret-super-securise"
JWT_REFRESH_SECRET="votre-refresh-secret-super-securise-"

# Server
PORT=3000
NODE_ENV=development
